body {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    vertical-align: top;
}

.header {
    text-align: center;
    font-size: 36pt;
}

#left {
    left: 50%;
}

#content {
    font-size: 13.5pt;
}